:root{

--blue:#2563eb;
--green:#10b981;
--yellow:#facc15;
--gray:#374151;
--dark:#0f172a;
--card:#1e293b;
--text:#ffffff;
--muted:#94a3b8;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Inter',;

}

body{

background:var(--dark);

color:var(--text);

overflow-x:hidden;

}

a{

text-decoration:none;

color:white;

}

img{

display:block;

max-width:100%;

}

.navbar{

height:75px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 60px;

background:rgba(15,23,42,.9);

backdrop-filter:blur(20px);

position:fixed;

width:100%;

z-index:999;

}

.logo{

font-size:28px;

font-weight:800;

display:flex;

gap:12px;

align-items:center;

color:var(--yellow);

}

.logo i{

color:var(--green);

}

nav{

display:flex;

gap:35px;

}

nav a{

font-weight:600;

transition:.3s;

}

nav a:hover{

color:var(--green);

}

.actions{

display:flex;

gap:15px;

}

.actions button{

border:none;

padding:10px 18px;

border-radius:10px;

cursor:pointer;

font-weight:700;

}

.search-btn{

background:var(--gray);

color:white;

}

.login-btn{

background:var(--blue);

color:white;

}

.hero{

height:100vh;

background:url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?auto=format&fit=crop&w=1800&q=80") center/cover;

display:flex;

align-items:center;

padding:80px;

position:relative;

}

.overlay{

position:absolute;

inset:0;

background:linear-gradient(to right,#0f172af0,#0f172a70);

}

.hero-content{

position:relative;

max-width:600px;

z-index:2;

}

.badge{

background:var(--yellow);

color:black;

padding:6px 14px;

border-radius:20px;

font-weight:700;

}

.hero h1{

font-size:64px;

margin:20px 0;

}

.hero p{

color:var(--muted);

font-size:20px;

line-height:1.7;

}

.hero-buttons{

margin-top:35px;

display:flex;

gap:20px;

}

.watch{

background:var(--green);

color:white;

}

.info{

background:var(--blue);

color:white;

}

.hero-buttons button{

padding:16px 30px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:700;

}

.movies{

padding:80px;

}

.movies h2{

margin-bottom:30px;

font-size:32px;

}

.movie-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(230px,1fr));

gap:25px;

}

.movie-card{

background:var(--card);

border-radius:18px;

overflow:hidden;

transition:.35s;

}

.movie-card:hover{

transform:translateY(-10px);

}

.poster{

height:320px;

background:#333;

}

.movie-info{

padding:20px;

}

.movie-info h3{

font-size:18px;

margin-bottom:10px;

}

.movie-info span{

color:var(--yellow);

}

footer{

padding:50px;

text-align:center;

color:var(--muted);

}

#loader{

position:fixed;

inset:0;

background:#08111f;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:9999;

}

.spinner{

width:60px;

height:60px;

border:5px solid #333;

border-top:5px solid var(--green);

border-radius:50%;

animation:spin 1s linear infinite;

margin-bottom:20px;

}
